
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(../bg.jpg) no-repeat 0 0;
  background-size: cover;
}
.row-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.login_continer {
  position: relative;
  /* width: 450px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  left: 0px;
  transition: all 0.3s;
}
.login_inner_width {
  width: 450px;
  background: #fff;
  color: #000;
  overflow: hidden;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.3);
}
.login_tab {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 450px;
}

.login_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.login button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 70%;
  outline: none;
}
.login button:hover{
    filter: brightness(110%);
    animation: colrot 5s linear  infinite;
}
@keyframes colrot{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(30deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}
.login .primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.login .label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.login input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  margin-bottom: 20px;
  width: 70%;
  outline: none;
}
