.chat{
    
}
.chat_hidden .power_on{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #7bb2e9;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .chat_hidden .menu_bar{
    display: none;
  }
  .chat_hidden .friend_list{
    display: none;
  }
  .chat_hidden .right{
    display: none;
  }
  .chat_hidden .friend_req{
    display: none;
  }
  .chat_show .power_on{
    display: none;
  }
  .chat_show{
    background-color: bisque;
    margin-top: 8vh;
    margin-left: 8vw;
    width: 80vw;
    height: 80vh;
    max-width: 1280px;
    -webkit-box-shadow: 0 11px 20px 0 rgba(0,0,0,.3);
    box-shadow: 0 11px 20px 0 rgba(0,0,0,.3);
    display: flex;
  }
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../bg.jpg) no-repeat 0 0;
    background-size: cover;
}
.myscrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 7px;
    /*高宽分别对应横竖滚动条的尺寸*/
    scrollbar-base-color: rgba(12, 110, 196, 0.226);
    background-color: rgba(17, 95, 126, 0.2);
    height: 4px;
    transition: all 0.2s;
}
.myscrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background-color: rgba(0, 0, 0, 0.438);
    transition: all 0.2s;
}
.myscrollbar::-webkit-scrollbar-thumb:hover {
    /*滚动条里面小方块*/
    background-color: rgba(102, 102, 102, 0.315);
    
}
.myscrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    background-color:rgba(241, 148, 179,  0.07);
    transition: all 0.2s;
}
.myscrollbar::-webkit-scrollbar-track:hover {
    background-color: rgba(47, 70, 85, 0.11);
}

.left_head{
    height:80px;
    width: calc( 100% + 50px );
    position: relative;
    left: -50px;
    background-color: #303841;
    border-bottom: 1px solid #7a7c7e77;
    padding: 10px 10px 20px 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.right_typing{
    background-color: #ffffff67;
    border-top: 1px solid #e7e7e7;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 200px;
    padding: 15px;
}
.right_typing_menu{
    display: flex;
    
}
.right_typing textarea{
    height: 80%;
    resize: none;
    font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
}

.right_menu_button{
    width: 30px;
    height: 30px;
    background-color: #ffffff00;
    position: relative;
}
.img_input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.img_send{
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.right_text{
    font-size: 16px;
    width: 100%;
    -webkit-box-sizing: box-sizing;
    box-sizing: box-sizing;
    border: none;
    outline: none;
    background-color: transparent;
}
.right_text_send{
    cursor: pointer;
    position: absolute;
    color: #2d8cf0;
    font-size: 30px;
    right: 0;
    top: 5px;
    padding: 6px 6px 4px 4px;
    border: none;
    background-color: transparent;
    outline: none;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.menu_bar{
    position: absolute;
    left: -50px;
    bottom: 0;
    height: 100%;
    width: 50px;
    background-color: #2d3238;
    display: flex;
    flex-direction: column-reverse;
    color: #FFF;
    /* display: none; */
}
.menu_bar button{
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    color: #FFF;
    outline: none;
}
.menu_bar button:hover{
    color: rgb(192, 192, 192);
}
.friend_req{
    display: none;
}
.friend_list{
    background-color: rgb(180, 147, 107);
    width: 30vw;
    height: 80vh;
    position: relative;
    background-color: #363e47;
    color:#f7f7f8;
}
.left_tab{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(126, 126, 126, 0.445);
}
.chosen_left_tab{
    background-color: #ffffff1f;
}
.left_tab_item{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.left_tab_item:hover{
    background-color: #666870;
}
.right{
    height: 80vh;
    background-color: #f5f5f5;
    color: #1c2438;
    width: 50vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}
.right_head{
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    position: relative;
    padding: 0 20px;
    color: #1c2438;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: #76828c 0 0 0.1em;
}
.friend_opt_but{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    background-color: #2d8bf052;
    z-index: 1;
}
.friend_tab_close{
    position: absolute;
    left: 0;
    width: 20px;
    text-align: center;
}
.friend_opt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s;
}
.friend_tab{
    position: relative;
    background-color: #5eacff;

    left: 100%;
    transition: all 0.2s;
    z-index: 2;
}
.friend_menu{
    display: flex;
    justify-content: center;
}
.friend_tab_item{
    width: 100px;
    transition: all 0.2s;
}
.friend_tab_item:hover{
    background-color: #7cb5f152;
}
.right_message{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
    padding: 10px;
    overflow-y: scroll;
}



.message_item_outer{
    display: flex;
    flex-direction: column;
}
.message_item{
    border-radius: 0 4px 4px 4px;
    outline: none;
    font-size: 14px;
    position: relative;
    max-width: 350px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    width: fit-content;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    display: flex;
}
.message_item_other{
    background-color: #fff;
    margin-left: 15px;
}
.message_item_my{
    background-color: #5cadff;
    margin-left: 15px;
    flex-direction: row-reverse;
    align-self: flex-end;
}
.message_item_time_my{
    align-self: flex-end;
}
.message_item_my .message_item_txt{
    align-self: flex-end;
}

.message_item_time{
    margin-top: 3px;
    color: #a5b5c1;
    font-size: 12px;
}
.message_item_from{
    display: none;
}
.friend_req{
    background-color: rgb(87, 79, 69);
}
.title_h1{
    font-size: large;
    display: inline;
}
.title_h2{
    font-size: 10px;
    display: inline;
}
.account_text{
    position: relative;
    left: 70px;
    color:rgb(199, 199, 199);
    font-size: 15px;
}
.username_text{
    position: relative;
    left: 70px;
    color:rgb(231, 231, 231);
    font-size: 20px;
}
.my_logo{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 20px;
    animation: logoan 5s infinite;
}
@keyframes logoan{
    0%{
        box-shadow: 1px 1px 10px black;
    }
    50%{
        box-shadow: 1px 1px 32px black;
    }
    100%{
        box-shadow: 1px 1px 10px black;
    }
}
.left_tab_under_outer{
    overflow: hidden;
    height: calc(100% - 110px);
    width: 30vw;
}
.left_tab_under{
    display: flex;
    height: 100%;
    left: 0%;
    position: relative;
    transition: all 0.3s;
}
.friend_list_outer{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
}
.friend_item{
    padding: 15px 20px;
    height: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: .2s;
    border-bottom: 1px solid #586068;
}
.chosen_friend_item{
    background-color: rgba(255, 255, 255, 0.301);
}
.friend_logo{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 20px;
}
.friend_info{
    position: relative;
    left: 60px;
}
.friend_username{

}
.friend_unread{
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f35f5f;
    font-size: 10px;
    padding: 4px;
    text-align: center;
}
.friend_account{
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 10px;
    padding: 10px 0;
    box-sizing: border-box;
}
.label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.have_req{
    color: #FFF;
    animation: slink 0.5s linear  infinite;
}

@keyframes slink{
    0%{
        color: #FFF;
    }
    50%{
        color: rgb(133, 133, 133);
    }
    100%{
        color: #FFF;
    }
}

@media screen and (max-width:500px){
    .chat_show{
        flex-direction: column;
    }
    .left_tab_under_outer {
        width: 80vw;
    }
    .friend_list{
        width: 80vw;
    }
    .menu_bar{
        left: -40px;
        width: 40px;
    }
    .left_head{
        width: calc( 100% + 40px );
        left: -40px;
    }
} 
